<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>DigitalNumbers-Regular.ttf</string>
		<string>CourierPrime-Regular.ttf</string>
		<string>CourierPrime-Bold.ttf</string>
		<string>CoveredByYourGrace-Regular.ttf</string>
		<string>ZenLoop-Regular.ttf</string>
		<string>CormorantInfant-Bold.ttf</string>
		<string>Devonshire-Regular.ttf</string>
	</array>
</dict>
</plist>
